/* -----------------------------------------------*/
/*                   GLOBAL                       */
/* -----------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

.wrapper{
    margin: 0 auto;
    position: relative;
}


header{
    position: relative;
    width: 1440px;
    height: 123px;
    background-color: #F2E9E9;
    text-align: center;
}

.ball{
    position:absolute;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background-color: #F72828;
}

nav a{
    position: relative;
    text-decoration: none;
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-left: 18px;
}

nav a:hover{
    color: navy;
}


/* -----------------------------------------------*/
/*                   PAGE 1                       */
/* -----------------------------------------------*/

#wrapper1{
    height: 1024px;
    width: 1440px;
}


#ball-page1{
    top: 34px;
    left: 595px;
}

#main1{
    position: relative;
    width: 881px;
    height: 624px;
    margin-left: 244px;
    margin-top: 91px;
}

.navP1-2 a{
    top: 52px;
}

.boxes section{
    background-color: #EBEF18;
    Width:75px;
    Height:23px;
}

.boxes{
    position: absolute;
    width: 437px;
    height: 624px;
    left: 444px;
}

#box1{
    position: absolute;
    top: 44px;
    width: 75px;
    height: 23px;
}

#box2{
    position: absolute;
    top: 75px;
    width: 136px;
    height: 46px;
}

#box3{
    position: absolute;
    top: 132px;
    width: 134px;
    height: 404px;
}

#box4{
    position: absolute;
    top: 547px;
    width: 88px;
    height: 28px;
}

#box5{
    position: absolute;
    top: 582px;
    width: 25px;
    height: 26px;
}

#box6{
    position: absolute;
    top: 582px;
    width: 25px;
    height: 26px;
    left: 32px;
}

#box7{
    position: absolute;
    top: 44px;
    width: 246px;
    height: 352px;
    left: 149px;
}

#box8{
    position: absolute;
    top: 412px;
    width: 123px;
    height: 212px;
    left: 149px;
}

#box9{
    position: absolute;
    top: 412px;
    width: 55px;
    height: 105px;
    left: 286px;
}

#box10{
    position: absolute;
    top: 524px;
    width: 110px;
    height: 58px;
    left: 286px;
}

#box11{
    position: absolute;
    width: 28px;
    height: 55px;
    left: 409px;
}

#box12{
    position: absolute;
    top: 66px;
    width: 28px;
    height: 55px;
    left: 409px;
}

#box13{
    position: absolute;
    top: 132px;
    width: 28px;
    height: 55px;
    left: 409px;
}

#box14{
    position: absolute;
    top: 198px;
    width: 28px;
    height: 198px;
    left: 409px;
}


#box15{
    position: absolute;
    top: 412px;
    width: 55px;
    height: 105px;
    left: 382px;
}

.wix-text{
    position: relative;
    width: 374px;
    height: 120px;
    top: 176px;
}

.wix-text h1{
    position: absolute;
    width: 234px;
    height: 97px;
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;
    color: #000000;
}

.wix-text h4{
    position: absolute;
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    top: 87px;
    color: #000000;
}

footer{
    position: relative;
    width: 1440px;
    height: 41px;
    background: #000000;
    bottom: 0px;
    margin-bottom: 0;
}

#footer-page1{
    top: 145px;
}


/* -----------------------------------------------*/
/*                   PAGE 2                       */
/* -----------------------------------------------*/
#wrapper2{
    width: 1440px;
    height: 2024px;
}


#ball-page2{
    left: 686px;
    top: 34px;
}


#main2{
    position: relative;
    width: 969px;
    height: 1860px;
    left: 151px;
}

.windows{
    display: flex;
}

.windows section{
    position: relative;
    width: 457px;
    height: 299px;
    background-color: #C4C4C4;
    margin-bottom: 70px;
    margin-right: 55px;
}

#windows-left{
    margin-top: 119px;
    height: 1741px;
}

#windows-right{
    position: absolute;
    margin-top: 287px;
    margin-left: 512px;
    height: 1573px;
    overflow: hidden;
}

.right-rec{
    position: absolute;
    width: 169px;
    height: 1900px;
    left: 1120px;
    top: 0px;
    background: #EBEF18;
}


.right-rec section, #topR-rec{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #000000;
}


#rec1{
    left: 0px;
    top: 119px;
}

#rec2{
    top: 247px;
    left: 89px;
    background-color: #ffffff;
}

#rec3{
    top: 616px;
    left: 0px;
}

.myName{
    display: block;
    position: absolute;
    width: 81px;
    height: 600px;
    top: 1240px;
    left: 44px;
    text-align: center;

}


.myName a{
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 128px;
    align-items: flex-end;
    text-decoration: none;
    transform: translateX(-50%);
    color: #000000;
}

.myName a:hover{
    color: navy;
}


#footer-page2{
    position: fixed;
    height: 41px;
    bottom: 0;
}


/* -----------------------------------------------*/
/*                   PAGE 3                       */
/* -----------------------------------------------*/


#topR-rec{
    top: 21px;
}


@media screen and (min-width:851px){

    #wrapper3{
        width: 1440px;
        height: 1624px;
    }

    #main3{
        position: relative;
        width: 1440px;
        height: 1501px;
    }

    #ball-page3{
        left: 301px;
        top: 105px;
    }

    #topR-rec{
        left: 1336px;
    }

    .left-grey-rec{
        position: absolute;
        width: 372px;
        height: 995px;
        background: #E5E5E5;
        text-align: center;
    }
    
    .navP3{
        position: absolute;
        top: 123px;
        height: 33px;
        width: 350px;
    }
    
    .right-blue-rec{
        position: absolute;
        width: 104px;
        height: 995px;
        left: 1336px;
        background: rgba(24, 71, 239, 0.3);
    }
    
    .bottom-yellow-rec{
        position: absolute;
        width: 1440px;
        height: 465px;
        left: 0px;
        top: 995px;
        background: #EBEF18;
    }
    

    #footer-page3{
        position: fixed;
        height: 41px;
    }
        
}

@media screen and (max-width:850px){

    #wrapper3{
        width: 850px;
        height: 2024px;
    }

    #main3{
        position: relative;
        width: 850px;
        height: 1451px;
    }

    #headerP3{
        width: 850px;
    }

    #topR-rec{
        left: 744px;
    }


    .left-grey-rec{
        position: relative;
        width: 850px;
        height: 105px;
        background: #E5E5E5;
        text-align: center;
    }

    .navP3{
        position: absolute;
        top: 45px;
        left: 276px;
        height: 33px;
        width: 317px;
    }

    #ball-page3{
        left: 565px;
        top: 27px;
    }

    .bottom-yellow-rec{
        position: absolute;
        width: 850px;
        height: 409px;
        left: 0px;
        top: 1451px;
        background: #EBEF18;
    }


    #footer-page3{
        position: fixed;
        width: 850px;
    }
      
}

